title: 安卓教程
description: Android tutorials for beginners
baseurl: "/android-tutorials"
url: "https://jame-louis.github.io"

# Collections
collections:
  tutorials:
    output: true

# Defaults
defaults:
  - scope:
      path: ""
      type: "tutorials"
    values:
      layout: "tutorial"

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/